*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    position: fixed;
    background-color: white;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size:20px;
    color:rgb(32, 33, 36);
    width:100vw;
}
.lnav{
    margin-left:300px;
    display: flex;
    align-items: center;
    gap:30px;
}
.rnav{
    margin-right:300px;
    display:flex;
    align-items: center;
    gap:20px;
}
.order-bar{
    padding-top:100px;
    height:65px;
    font-weight: bold;
    background-color: rgb(32, 33, 36);
    color :white;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;   
    width:100vw;
}
#order{
    font-size:15px;
    background-color: red;
    height:50px;
    font-weight: bold;
    color:white;
    border-radius: 50px;
    padding-left:30px;
    padding-right:30px;
    border: 0;
}
.big-image{
    width:100vw;
    height:auto;
}
.menus{
    margin-left: 300px;
    margin-right: 300px;
    margin-top:50px;
    font-weight: bold;
    color: rgb(32, 33, 36);
    font-size:20px;
}
#menus-title{
    margin-bottom: 30px;
}
#option-holder{
    display: flex;
    flex-wrap:wrap;
    gap:4%;
}
.option{
    margin-bottom:20px;
    position: relative;
    width:22%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.option-img{
    border-radius: 5px 5px 0px 0px;
    width:100%;
    height:auto;
}
.option-content{
    height:40px;
    display:flex;
    align-items: center;
    padding-left: 20px;
}
